// Colors

// Primary

$marine-blue: #02295a;
$purplish-blue: #473dff;
$pastel-blue: #adbeff;
$light-blue: #bfe2fd;
$strawberry-red: #ed3548;

// Neutral

$cool-gray: #9699ab;
$light-gray: #d6d9e6;
$magnolia: #f0f6ff;
$alabaster: #fafbff;
$white: #ffffff;

// Hover

$marine-blue-hover: #024597;
$purplish-blue-hover: #776ffd;